.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  &.sticky {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    padding: 10px 10px 10px 0;
    background-color: white;
    z-index: 1000;
  }

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    text-shadow: -1px 10px 20px rgb(166 157 157 / 92%);

  }
  img {
    height: 50px;
  }
}

  .nav-dropdown {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: rotate(180deg);
    }
  }

.nav-menu {
  width: 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  background: #f0dcf0f5;;
  &.visible {
    display: flex;
    gap: 20px;
    background: #f0dcf0f5;;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    a {
      color: #333;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: rgb(70% 20% 50%);
      }
    }
  }

  hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
  }
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
  button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: white;
  }
  button:active {
    background: #f3f3f3;
  }
  .nav-logout {
    background: #FDE3FF
  }

  .nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
  }
}
  .nav-dropdown {
    display: none;
  }
}


@media(max-width: 1280px) {
  .nav {
    padding: 12px 50px;

  img {
      width: 40px;
    }
    h1 {
      font-size: 25px;
    }

    .nav-logo
    .nav-menu {
      gap: 30px;
      font-size: 16px;
    }

    .nav-menu {
    &.visible {
      margin: 0 20px;
    }}

    .nav-login-cart {
      gap: 30px;
    }
    button {
      width: 120px;
      height: 45px;
      font-size: 16px;
    }
    .nav-login-cart
    .nav-cart-count {
      margin-left: -40px;
      font-size: 12px;
    }
  }
}

@media(max-width: 1024px) {

    .nav {
    padding: 12px 30px;

    .nav-logo {
      gap: 5px;
      h1 {
        font-size: 22px;
      }
    }

    .nav-menu {
      gap: 25px;
      font-size: 14px;
    }

      .nav-login-cart {
        button {
          height: 35px;
          font-size: 14px;
        }
        img {
          width: 30px;
        }
        .nav-cart-count {
          width: 18px;
          height: 18px;
        }
      }
  }
}

@media(max-width: 800px) {
  .nav {
    padding: 10px 0;
  .nav-dropdown {
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.7s;
  }
  .nav-menu {
    display: none;
    width: 100%;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    justify-content: center;
    top: 70px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    &.visible {
      margin: 0;
      visibility: visible;
      opacity: 1;
      display: flex;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  .nav-dropdown.open {
    transform: rotate(90deg);
  }
   .nav-login-cart{
      .login{
        background:rgb(241,222,240)
      }
    }
}}

@media(max-width: 500px) {
  .nav {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}