.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;

  .item-container {
    padding: 10px;
  }

  h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
  }

  hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
  }

  .slick-prev,
  .slick-next {
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff; /* Couleur de fond */
    border: none; /* Enlève la bordure */
    color: black; /* Couleur de l'icône */
    border-radius: 50%; /* Rend les boutons circulaires */
  }

  .slick-prev {
    left: -25px; /* Ajustez selon l'espacement désiré */
  }

  .slick-next {
    right: -25px; /* Ajustez selon l'espacement désiré */
  }
}

.popular-item {
  margin-top: 50px;
  display: block; // Changez flex en block pour éviter le conflit avec le display flex de Slick
  width: 100%; // Assurez-vous que le conteneur prend toute la largeur
}

@media (max-width: 1280px) {
  .popular {
    height: 70vh;

    h1 {
      font-size: 40px;
    }
    hr {
      width: 160px;
      height: 4px;
    }
  }
}

@media (max-width: 1024px) {
  .popular {
    height: 60vh;
    width: 80%;
    margin: 0 auto;

    h1 {
      font-size: 30px;
    }
    hr {
      width: 120px;
      height: 3px;
    }
  }
}

@media (max-width: 800px) {
  .popular {
    gap: 6px;

    h1 {
      font-size: 15px;
    }
    hr {
      width: 100px;
    }
  }
}

@media (max-width: 500px) {
.popular {
    height: 50vh;
    gap: 5px;

    h1 {
      font-size: 10px;
    }
    hr {
      width: 80px;
    }
  }
  .item-container, .popular-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  }
  .popular-item{
    margin-top: 0;
    .item{
      margin: 0 auto;
      width: 70%;

    }
  }

  slick-slider slick-initialized {
    width: 100%;
    .slick-prev, .slick-next {
      background-color: #FF4142;
      color: #FF4142;
      border: 2px solid #fff;

      &:before {
        color: #FF4142;
      }
    }
  }


  .slick-prev {

  }

  .slick-next {
  }
}
