.productdisplay {
  display: flex;
  margin: 0 170px;
  flex-direction: column; // Changez la disposition pour les petits écrans

  .productdisplay-left, .productdisplay-right {
    width: 100%; // Assurez-vous que les enfants prennent toute la largeur disponible
  }

  .productdisplay-left {
    display: flex;
    gap: 17px;
    flex-direction: column; // Rendre vertical pour les petits écrans
    align-items: center; // Centrer les éléments pour un meilleur rendu

    .productdisplay-img-list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      img {
        max-width: 100%; // S'assurer que les images ne dépassent pas leur conteneur
        height: auto; // Hauteur automatique pour maintenir le ratio
      }
    }

    .productdisplay-main-img {
      max-width: 100%;
      height: auto; // Hauteur automatique pour maintenir le ratio
    }
  }

  .productdisplay-right {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center; // Centrer le contenu pour les petits écrans

    h1, .size-option, .productdisplay-right-stars, .productdisplay-right-prices, .productdisplay-right-description, .productdisplay-right-size, button, .productdisplay-right-category {
      text-align: center; // Centrer le texte pour une meilleure lisibilité
    }

    .size-option {
      cursor: pointer;
      padding: 5px 10px;
      margin: 5px;
      border: 1px solid #ccc;
      display: inline-block;
    }

    .size-option.selected {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
    }
  }
}

@media (max-width: 1280px) {
  .productdisplay {
    flex-direction: column;
    margin: 20px; // Réduire la marge pour les écrans plus petits
  }

  .productdisplay-left, .productdisplay-right {
    align-items: center;
  }

  .productdisplay-main-img, .productdisplay-img-list img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px), (max-width: 800px), (max-width: 500px) {
  .productdisplay {
    margin: 10px; // Marges encore plus petites pour les très petits écrans
  }

  .productdisplay-left .productdisplay-img-list {
    flex-direction: row; // Images en ligne pour gagner de la place
    overflow-x: auto; // Permettre le défilement horizontal des images
    gap: 10px;
  }

  .productdisplay-main-img {
    max-width: 100%;
    height: auto;
  }

  .productdisplay-right {
    margin-top: 20px; // Ajouter de l'espace entre les images et le contenu textuel

    .size-option, button {
      padding: 5px; // Réduire le padding pour les éléments interactifs
    }
  }
}
