.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0 170px;
  justify-content: space-between;
  align-items: center;

  p span {
    font-weight: 600;
  }

  .shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
  }
}

.shopcategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 80px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none; // Ajout pour assurer que le lien n'a pas de soulignement
}

@media (max-width: 1280px) {
  .shopcategory-banner,
  .shopcategory-indexSort,
  .shopcategory-products {
    margin: 20px auto; // Unifié pour simplifier
    width: 90%;
  }

  .shopcategory-indexSort {
    p {
      font-size: 12px;
    }

    .shopcategory-sort {
      padding: 5px 10px;
      font-size: 12px;
    }
  }

  .shopcategory-products {
    row-gap: 40px;

    .item {
      margin: auto;
    }
  }

  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner,
  .shopcategory-products,
  .shopcategory-loadmore {
    width: 95%; // Simplifié pour uniformité
    margin: 60px auto; // Ajustement pour la marge
  }

  .shopcategory-loadmore {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: repeat(2, 1fr); // Simplifié pour la lisibilité
  }
}
