.shopcategory {
  .shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 100%;
  }

  .shopcategory-indexSort {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;

    p span {
      font-weight: 600;
    }

    .shopcategory-sort {
      padding: 10px 20px;
      border-radius: 40px;
      border: 1px solid #888;
    }
  }

    .shopcategory-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;

        .shopcategory-items-container {
            min-width: 180px;
            max-width: 280px;
            flex: 1 0 20%;
            margin: 5px;
            padding: 10px;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            border-radius: 15px;
        }
    }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    button {
      padding: 5px 10px;
      margin: 0 5px;
      border: none;
      background-color: #f0f0f0;
      cursor: pointer;

      &:disabled {
        background-color: #007bff;
        color: white;
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background-color: #007bff;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .shopcategory {
    .shopcategory-banner {
      margin: 20px auto;
      width: 95%;
    }

    .shopcategory-indexSort, .shopcategory-items-container {
      flex-direction: column;
      align-items: center;
    }

    .shopcategory-sort, .pagination button {
      padding: 5px;
      font-size: 0.8rem;
    }
  }
}
